<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand"><%= link_to "Wireless-Match", root_path%></h3>
      <div class="nav nav-masthead justify-content-center">
        <%= link_to('Match Quiz', new_user_plan_path, class: "nav-link") unless session[:guest_user_id] %>
        <%= link_to('Match Quiz', edit_user_plan_path(session[:form_id]), class: "nav-link") if session[:guest_user_id] %>
        <%= link_to('Plan Recommendations', plan_recommendations_path, class: "nav-link") if session[:guest_user_id]%>
      </div>
    </nav>
  </div>
</header>

