<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <%= link_to "Wireless-Match", root_path, class: 'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to('Match Quiz', new_user_plan_path, class: "nav-item nav-link #{'active' if current_page? new_user_plan_path}") unless session[:form_id] %>
        <%= link_to('Match Quiz', edit_user_plan_path(session[:form_id]), class: "nav-item nav-link #{'active' if current_page? edit_user_plan_path(session[:form_id])}") if session[:form_id]%>
        <%= link_to('Plan Recommendations', plan_recommendations_path, class: "nav-item nav-link #{'active' if current_page? plan_recommendations_path}") if session[:form_id]%>
      </div>
    </div>
  </div>
</nav>